body {
  margin: 0;
  background: black;
  color: lime;
  font-family: Arial;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* LOADING BAR */
#loadingBar {
  height: 3px;
  width: 0%;
  background: lime;
  transition: width 0.2s;
}

/* TOPBAR */
#topbar {
  display: flex;
  gap: 6px;
  padding: 8px;
  background: #111;
  border-bottom: 1px solid #222;
}

button {
  background: #222;
  color: lime;
  border: 1px solid #333;
  cursor: pointer;
}

button:hover {
  background: #333;
}

#url {
  flex: 1;
  background: black;
  color: lime;
  border: 1px solid #333;
  padding: 6px;
}

/* TABS */
#tabs {
  display: flex;
  background: #0a0a0a;
  border-bottom: 1px solid #222;
}

.tab {
  padding: 6px 10px;
  border-right: 1px solid #222;
  cursor: pointer;
}

.tab.active {
  background: #222;
}

/* WEBVIEW */
#app {
  flex: 1;
  display: flex;
}

webview {
  flex: 1;
}